

#navcontainer ul {
	text-align: center;
	margin: 10px;
	padding: 5;
	list-style-type: none;
	text-align: center;

}

#navcontainer ul li {
	display: inline;
	margin-right: 5px;


}

#navcontainer ul li a {
	text-decoration: none;
	padding: .2em .3em;
	color: #fff;
	background-color: #ed8a08;
	border: 1px solid #274a50;
	border-radius: 4px;

}

#navcontainer ul li a:hover {
	color: #fff;
	background-color: #274a50;
}

#socialmediacontainer ul {
	text-align: center;
	margin: 10px;
	margin-bottom: 20px;
	list-style-type: none;
	
	
}

#socialmediacontainer ul li {
	display: inline;
	margin-right: 0px;
}



#mainpanel {
	border: 2px solid black;
}

.toolbox img {
	width: 100%;
}

.header	{
	border-bottom: 2px solid black;
	background: url("../img/aluminum_texture1642.jpg");
	background-color: #ed8a08;
	opacity: 50%;

}

.navtop {
	margin-right: 10px;
	margin-bottom: 10px;
	float: right;
	border: 2px solid black;
	max-width: 75%;
	text-align: center;

}

.shadow {
	-webkit-box-shadow: 8px 8px 5px 0px rgba(31,29,31,1);
	-moz-box-shadow: 8px 8px 5px 0px rgba(31,29,31,1);
	box-shadow: 8px 8px 5px 0px rgba(31,29,31,1);
}

.navshadow {
	-webkit-box-shadow: 3px 4px 5px 0px rgba(31,29,31,1);
-moz-box-shadow: 3px 4px 5px 0px rgba(31,29,31,1);
box-shadow: 3px 4px 5px 0px rgba(31,29,31,1);
}

.pagetitle {
	margin-top: 20px;
	text-align: center;
	max-width: 100%;
}

.tommainimage {
	text-align: center;
}

.tommainimage img {
	max-width: 100%;
	width: 90%;
	min-width: 300px;
}

.tomstiteschair {
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tomstiteschair img {
	max-width: 100%;
	min-width: 300px;
	width: 100%;
	max-height: 700px; 
	border: 3px black solid;
}

.corevalues {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #ed8a08;
}

.corevaluestext {

}

.tomstitesswingdual {
	text-align: center;
	margin-bottom: 30px;
}

.tomstitesswingdual img {
	width: 90%;
}

.tommainimage img {
	max-width: 100%;
	width: 80%;
	min-width: 300px;
}


.footer {
	border-top: 2px solid black;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background: url("../img/aluminum_texture1642.jpg");
}

.tagline {
	margin-top: -35px;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid black;
}

.tagline img {
	max-width: 95%;
	width: 90%;
	text-align: center;
	min-width: 300px;
}

.accordion {
	margin-bottom: 20px;
	border-radius: 4px;
}

.toolbox {
	width: 40%;
	margin-bottom: 10px;
}

.twitter-timeline {
	height: 500px;
}

.orbit-slides-container {
	/*height: auto !important;*/
	min-height: 630px;
}